<!DOCTYPE html>
<html>
<head>
<title>ThyroidDetect</title>
<style>

body{
font-family: Arial;
background:#f2f2f2;
margin:0;
}

nav{
background:#0d9488;
color:white;
padding:15px;
}

nav a{
color:white;
margin-right:20px;
text-decoration:none;
font-weight:bold;
}

.container{
padding:40px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

</style>
</head>

<body>

<nav>

<a href="dashboard.html">Diagnose</a>
<a href="history.html">History</a>
<a href="about.html">About</a>

</nav>

<div class="container">

<h1>Welcome to ThyroidDetect</h1>

<div class="card">
Machine Learning Based Thyroid Diagnostic System
</div>

</div>

</body>
</html>